h1 {
    color: red;
    text-align: center;
    font-size: 50px;
}

.title {
    color: orange;
}

#top {
    color: green;
}

.container {
	border: 6px dotted grey;
	margin-top: 10px;
    padding-left: 30px;
}

.nav-index {
    background-color: aqua;
}

.nav-ul-index {
    list-style: none;
    align-items: center;
}

a {
    text-decoration-line: none;
}

.nav-li-index {
    
    display: inline-block;
    margin: 20px;
    font-size: 30px;
    padding: 30px;
    margin-left: 300px;
}

Img {
	border-radius: 50%;
	box-shadow: 9px 9px 10px black;
}

.box {
    border: 96px solid green;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
    size: 100px;
    display: inline;
    background-color: grey;
}

.flex {
    margin: 10px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid blueviolet;
    justify-content: center;
}

@keyframes rotation {
	0% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}

#box2 {
	Animation-name: rotation;
	Animation-duration: 5s;
	Animation-iteration-count: infinite;
	Animation-timing-function: ease-in-out;
}

.index-html {
    background-image: linear-gradient(blue, green, purple);
}

.nav-wrapper {
    background-color: purple;
}

.form-wrapper {
    display: flex;
    align-items: center;
    
}
